module.exports = {
  apps: [
    {
      name: '{{ qbtc_node_name }}',
      script: 'src/qbtcd.ts',
      interpreter: 'node',
      interpreter_args: '--loader ts-node/esm --max-old-space-size={{ qbtc_max_old_space_size }}',
      args: '--mine --full --port {{ qbtc_rpc_port }} --p2p-port {{ qbtc_p2p_port }}{% if qbtc_message %} --message "{{ qbtc_message }}"{% endif %}',
      cwd: '{{ ansible_env.HOME }}/qubitcoin',
      env: {
        NODE_ENV: 'production',
      },
    },
  ],
};
